{% extends 'HWStoreFather.html' %}

{% load static %}

{% block title_section %}

<title>Cambiar Contraseña</title>

{% endblock title_section %}

{% block header_section %}

<header class="bg-dark py-5" style="background-image: url('{% static 'assets/login_background.jpg' %}'); background-repeat:no-repeat; background-position: center; margin-bottom: 0; padding-top: 7%; padding-bottom: 7%;">
<!--<header class="bg-dark py-5">-->
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-6 fw-bolder">Cambiar Contraseña</h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
    </div>
</header>

{% endblock header_section %}

{% block body_section %}

<section class="py-5">
    <div class="container justify-content-center">
        {% block content %} 
        <h2>Change Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'home' %}">Back</a>
            <button type="submit">Submit</button>
        </form>
    {% endblock content %}
    </div>
</section>

{% endblock body_section %}