{% extends 'HWStoreFather.html' %}

{% load static %}

{% block title_section %}

<title>Hardware Store Login</title>

{% endblock title_section %}

{% block header_section %}

<header class="bg-dark py-5" style="background-image: url('{% static 'assets/login_background.jpg' %}'); background-repeat:no-repeat; background-position: center; margin-bottom: 0; padding-top: 7%; padding-bottom: 7%;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"></h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
    </div>
</header>

{% endblock header_section %}

{% block body_section %}

<section class="py-5">
    <div class="container justify-content-center">
        <form ALIGN='center'>
            <div class="text-center text-white">
                <p class="lead fw-normal text-black-50 mb-0">Sesión cerrada. gracias por elegirnos!</p>
            </div>
        </form>
    </div>
</section>

{% endblock body_section %}