{% extends 'hrAppFather.html' %}

{% load static %}

{% block title_section %}

<title>Client Delete</title>

{% endblock title_section %}

{% block header_section %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Client Delete</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

{% endblock header_section %}

{% block body_section %}

<section class="py-5">
    <div class="container justify-content-center">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="text-center text-white">
                <p style="text-align:center" class="lead fw-normal text-black-50 mb-0"> Seguro que desea eliminar el
                    cliente <b>{{cliente.nombre}} {{cliente.apellido}}</b>?
                    <input style="text-align:center" type="submit" value="Confirmar">
                </p>
            </div>
        </form>
    </div>
</section>

{% endblock body_section %}