{% extends 'hrAppFather.html' %}

{% load static %}

{% block title_section %}

<title>Employed List</title>

{% endblock title_section %}

{% block header_section %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Employed List</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

{% endblock header_section %}

{% block body_section %}

<section class="py-5">
    <div class="container justify-content-center">
        <form action="{% url 'BusquedaEmpleado' %}" method="GET" enctype="multipart/form-data">{% csrf_token %}
            <p style="text-align:center"> Busqueda: <input style="text-align:center" type="text" name="nombre"
                    placeholder="Escriba aqui el empleado">
                <input type="submit" value="Buscar">
            </p>
        </form>
    </div>
    <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
        <tr>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Email</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Puesto</th>
            <th scope="col">Salario</th>
            <th scope="col">Opciones</th>
        </tr>
        <ul>
            {% for empleado in object_list %}
            <tr>
                <td>
                    {% if empleado.foto_empleado %}
                    <img src="{{empleado.foto_empleado.url}}" width="100" height="100">
                    {% endif %}
                </td>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.edad}}</td>
                <td>{{empleado.email}}</td>
                <td>{{empleado.telefono}}</td>
                <td>{{empleado.puesto}}</td>
                <td>{{empleado.salario}}</td>
                <td>
                    <button>
                        <a href="{% url 'BorrarEmpleados' empleado.id %}">Eliminar</a>
                    </button>
                    <button>
                        <a href="{% url 'ActualizarEmpleados' empleado.id %}">Editar</a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </ul>
    </table>
    <div class="container justify-content-center">
        <a href="{% url 'CrearEmpleados' %}">
            <p style="text-align:center">Añade Empleado</p>
        </a>
    </div>
</section>

{% endblock body_section %}