{% extends 'HWStoreFather.html' %}

{% load static %}

{% block title_section %}

<title>Shop Homepage</title>

{% endblock title_section %}

{% block header_section %}

<header class="bg-dark py-5" style="background-image: url('{% static 'assets/index_background.jpg' %}'); background-repeat:no-repeat; background-position: center; margin-bottom: 0; padding-top: 7%; padding-bottom: 7%;">
<!--<header class="bg-dark py-5">-->
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Bienvenido a tu tienda online</h1>
            <p class="lead fw-normal text-white mb-0">Lo que buscas, lo encuentras aqui</p>
            {{mensaje}}
        </div>
    </div>
</header>

{% endblock header_section %}

{% block body_section %}

<form action= "{% url 'BusquedaProducto' %}" method="GET" enctype="multipart/form-data">{% csrf_token %}

    <p><center>Busqueda: <input type= "text" name= "nombre" placeholder="Escriba aqui el producto"> 
    
    <input type="submit" value="Buscar"></center></p>                      

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if object_list %}       
                {% for producto in object_list  %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        {% if producto.Foto %}
                        <img class="card-img-top" src="{{producto.Foto.url}}" alt="..." height="250" />
                        {% endif %}
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{producto.nombre}}</h5>
                                <p class="card-text">Marca: {{producto.marca}}</p>
                                <p class="card-text">Stock: {{producto.stock}}</p>                                
                                <!-- Product price-->
                                {{producto.precio}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'Add' producto.id %}">Añadir al carrito</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}            
        </div>
        <div class="container justify-content-center">
            <p style="text-align:center">No hubo coincidencias para <strong>{{request.GET.nombre}}</strong></p>
        </div>
    </div>
</section>
<center><div class="col-4" >
    {% include 'carrito.html' %}
</div>
</center>
{% endblock body_section %}