{% extends 'HWStoreFather.html' %}

{% load static %}

{% block title_section %}

<title>Shop Homepage</title>

{% endblock title_section %}

{% block header_section %}

<header class="bg-dark py-5" style="background-image: url('{% static 'assets/banner_tienda_carro.jpg' %}'); background-repeat:no-repeat; background-position: center; margin-bottom: 0; padding-top: 7%; padding-bottom: 7%;">
<!--<header class="bg-dark py-5">-->
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Bienvenido a tu tienda online</h1>
            <p class="lead fw-normal text-white mb-0">Lo que buscas, lo encuentras aqui</p>
            {{mensaje}}
        </div>
    </div>
</header>

{% endblock header_section %}

{% block body_section %}                   
<center><div class="col-8" >
    {% include 'carrito.html' %}
</div>
</center>
{% endblock body_section %}