{% extends 'HWStoreFather.html' %}

{% load static %}

{% block title_section %}

<title>Shop Homepage</title>

{% endblock title_section %}

{% block header_section %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Bajo construcción</h1>
            <p class="lead fw-normal text-white-50 mb-0">No hay páginas aún</p>
        </div>
    </div>
</header>

{% endblock header_section %}

{% block body_section %}
<center><img class="background-image" src="{% static 'assets/WebsiteConstruction.jpg' %}" alt="..." height="1000" width="1000"/></center>
{% endblock body_section %}